# deskripsi library yang digunakan

In [1]:
import pandas as pd

pizza = {'diameter':[6,8,10,14,18],
        'n_topping':[2,1,0,2,0],
        'harga':[7,9,13,17.5,18]}

train_pizza_df = pd.DataFrame(pizza)
train_pizza_df

   diameter  n_topping  harga
0         6          2    7.0
1         8          1    9.0
2        10          0   13.0
3        14          2   17.5
4        18          0   18.0

In [2]:
pizza = {'diameter':[8,9,11,16,12],
        'n_topping':[2,0,2,2,0],
        'harga':[11,8.5,15,18,11]}

test_pizza_df = pd.DataFrame(pizza)
test_pizza_df

   diameter  n_topping  harga
0         8          2   11.0
1         9          0    8.5
2        11          2   15.0
3        16          2   18.0
4        12          0   11.0

In [3]:
import numpy as np

X_train = np.array(train_pizza_df[['diameter','n_topping']])
Y_train = np.array(train_pizza_df['harga'])

X_test = np.array(test_pizza_df[['diameter','n_topping']])
Y_test = np.array(test_pizza_df['harga'])
                  
print(f'X_train:\n{X_train}\n')
print(f'Y_train:{Y_train}')
                  
print(f'X_test:\n{X_test}\n')
print(f'Y_test:{Y_test}')

X_train:
[[ 6  2]
 [ 8  1]
 [10  0]
 [14  2]
 [18  0]]

Y_train:[ 7.   9.  13.  17.5 18. ]
X_test:
[[ 8  2]
 [ 9  0]
 [11  2]
 [16  2]
 [12  0]]

Y_test:[11.   8.5 15.  18.  11. ]

In [4]:
import sklearn.linear_model as lm
model1 = lm.LinearRegression()
model1.fit(X_train, Y_train)
Y_prediksi = model1.predict(X_test)

In [5]:
import sklearn.metrics as met

r_squared = met.r2_score(Y_test, Y_prediksi)
MAE = met.mean_absolute_error(Y_test, Y_prediksi)
MSE = met.mean_squared_error(Y_test, Y_prediksi)
RMSE = np.sqrt(MSE)
print(f'r_squared Multiple Linear Regression : {r_squared}')
print(f'MAE Multiple Linear Regression : {MAE}')
print(f'MSE Multiple Linear Regression : {MSE}')
print(f'RMSE Multiple Linear Regression : {RMSE}')

r_squared Multiple Linear Regression : 0.7701677731318468
MAE Multiple Linear Regression : 1.4166666666666665
MSE Multiple Linear Regression : 2.61089409722222
RMSE Multiple Linear Regression : 1.6158261345894305

In [6]:
score = model1.score(X_test, Y_test)
print(f'Akurasi Multiple Linear Regression = ',score)

Akurasi Multiple Linear Regression =  0.7701677731318468

# Membuat inputan model

In [7]:
input_data = np.array([[14, 2]])

prediction = model1.predict(input_data)
print(f'Estimasi Harga Pizza :', prediction)

Estimasi Harga Pizza : [16.125]

# Save Model

In [8]:
import pickle

filename = 'estimasi_harga_pizza.sav'
pickle.dump(model1,open(filename,'wb'))